@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  margin-bottom: 80px;

  height: 100%;
  background-color: rgb(241, 241, 241);
  overflow: auto;
}

.emailInput {
  background: url("./assets/svg/personIcon.svg") #ffffff 2.5% center no-repeat;
}

.passwordInput {
  background: url("./assets/svg/lockIcon.svg") #ffffff 2.5% center no-repeat;
}

.nameInput {
  background: url("./assets/svg/badgeIcon.svg") #ffffff 2.5% center no-repeat;
}

input[type="file"]::file-selector-button {
  border: 2px solid #37cdbe;
  padding: 0.2em 0.4em;
  border-radius: 1em;
  background-color: #37cdbe;
  color: white;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #006064;
  border: 2px solid #006064;
}
